<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="DEC-RCP"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/DEC-RCP/css/default.css">
         </property>
         <property
               name="appName"
               value="DEC-RCP">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.schneider.dec.toolbar.active.button.show.devices">
         <with
               variable="active.device.button">
            <equals
                  value="1">
            </equals>
         </with>
      </definition>
      <definition
            id="com.schneider.dec.toolbar.active.button.show.sensors">
         <with
               variable="active.sensor.button">
            <equals
                  value="1">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
